<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/steam.css">
  <title>Steam Checker</title>
</head>

<body>
  <nav class="navbar navbar-light bg-light main-nav nav-with-search navbar-expand-lg">
    <div class="logo-container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/" title = "SteamChecker Home">
        <div style="display: flex;align-items: center;">
          <img src="/logo/logo.svg" alt="logo" class="logo">
            SteamChecker 
        </div>
      </a>
    </div>
        <div class="controls">
          <form action="/user" method="GET" style="display: flex;">
            <input type="text" name="url" class="url-input user-url-input" id="url-input">
            <button class="clear-input" type="button">
              <span class="clear-input-background">
                <i class="fas fa-times"></i>
              </span>
            </button>
            <button class="search-submit" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <div class="login-wrapper d-none d-lg-block">
          <% const userKeys = Object.keys(user).length %>
          <% if(userKeys === 0) { %>
            <div class="login">
              <a href="/auth/steam">
                <img src="/images/steamloginbutton.jpg" alt="login-btn" >
              </a>
            </div>
          <% }else{ %>
            <% const url = user.loggedUserId %>
            <% const queryURL = encodeURIComponent(url) %>
            <% const queryString = `/user?url=${queryURL}` %>
            <div class="login">
              <a href="<%= queryString %>">
                <img src="<%= user.avatar %>" alt="avatar"  class="login-avatar">
              </a>
              <span class="view-more">
                <i class="fas fa-chevron-down ml-2 view-more-btn"></i>
              </span>
              <ul class="view-more-links">
                <a href="<%= queryString %>" class="view-more-btn">
                <li class="view-more-link view-more-btn">
                 MY PROFILE
                </li>
              </a>
              <a href="/logout" class="view-more-btn">
                <li class="view-more-link view-more-btn">
                    LOGOUT
                </li>
              </a>
              </ul>
            </div>
          <% } %>
        </div>
  </nav>
  <nav class="navbar sticky-top navbar-light bg-light navbar-expand-lg py-0 sub-nav d-none d-md-block" style="position: relative;z-index: -2;">
    <div class="container">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="width: 100%;justify-content: space-around;">
        <li class="nav-item section-title" style="margin-bottom: 0;">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item section-title" style="margin-bottom: 0;">
          <a class="nav-link active" href="#">Profile Overview<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item section-title" style="margin-bottom: 0;">
          <a class="nav-link" href="#">Friends</a>
        </li>
        <li class="nav-item section-title" style="margin-bottom: 0;">
          <a class="nav-link" href="#">Games Owned</a>
        </li>
      </ul>
    </div>
  </nav>












 <div class="overlay d-block d-lg-none">
  <div class="mobile-sidebar">
    <div class="logo-container d-flex">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/" title = "SteamChecker Home">
        <div style="display: flex;align-items: center;">
          <img src="/logo/logo.svg" alt="logo" class="logo">
            SteamChecker 
        </div>
      </a>
    </div>
  </div>
 </div>
