<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/steam.css">
  <title>Steam Checker</title>
</head>

<body>
  <nav class="navbar navbar-light bg-light main-nav nav-with-search">
    <!-- <div class="container"> -->
      <div class="logo">
        <i class="fab fa-steam-symbol"></i><a class="navbar-brand" href="/">SteamChecker</a>
      </div>
      <div class="controls">
        <form action="/user" method="GET">
          <input type="text" name="url" class="url-input" id="url-input">
          <button class="search-submit" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    <!-- </div> -->
  </nav>