/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color:black;
  transition: background-color 5000s ease-in-out 0s;
}

/* CSS Variables */
:root{
  --primary:#404BB8;
  --section-background:#EAF1F6;
  --section-transperant-background:#e5ecf2f0;
  --mute : #3a3a3aa2;
  --green:#007705;
  --red: red;
  --background:#F1F5F8;
  --valve-employee : #a50f79;
}

/* tooltip and defualt styles */
.logo{
  width: 3rem;
  height: 1.4rem;
}

.tooltip{
  font-size: .6rem;
}
i{
  pointer-events: none;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
}
/* home page styles */
.home-container .dekstop-h5{
  font-size: 1rem;
  word-spacing: 0.4rem;
}
.mobile-h5{
  display: none;
}
.fa-steam-symbol{
  font-size: 2rem;
  margin-right: 0.5rem;
  color: white;
}

/* nav styles */
.navbar-light .navbar-brand{
  font-family: 'Rockwell',Montserrat;
  font-size:2rem;
  color: white;
}
.navbar-light .navbar-brand:hover{
  color: white;
}
.main-nav{
  background: linear-gradient(90deg, #161730 0%, #7683F9 100%);
}
.navbar-collapse{
  flex-grow: 0;
}
.navbar-light .navbar-toggler{
  color: #cdd1fd;
  border:none;
  outline: none;
}

.navbar-light .navbar-toggler-active{
  color: white;
}
.custom-burger{
  height: 3px;
  width: 20px;
  margin-bottom: .2rem;
  background-color:  #cdd1fd;
  pointer-events: none;
  transition: all .3s ease;
}
.toggle .line1{
  transform: rotate(-45deg) translate(-.6rem,.25rem);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-.24rem,.06rem);
}

.mobile-nav{
  position: fixed;
  width: 70%;
  height: 100%;
  background: linear-gradient(90deg, #161730 0%, #7683F9 100%);
  right: 0%;
  transform: translateX(100%);
  transition: transform ease-in-out .3s;
  z-index: 1;
}

.mobile-nav-active{
  transform: translateX(0%);
}

.mobile-navlinks{
  list-style: none;
}

.mobile-navlinks li{
  color:rgb(175, 175, 175);
  cursor: pointer;
  padding: 2rem 2rem;
  font-weight: 600;
  font-size: .875rem;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
 .mobile-nav-avatar{
   position: absolute;
   height: 60%;
   top: 20%;
   left: 30%;
    border-radius: .5rem;
    opacity: .5;
    transition: all 0.5s ease-in-out;
}

.mobile-navlinks li a{
  text-decoration: none;
  align-items: center;
  color: inherit;
}

.mobile-navlinks a.active > li{
  color: white;
  font-weight: 800;
}

/* steam quick links in nav styles */
.steam-quicklinks-viewmore{
  background: none;
  border: none;
  margin-left: 1rem;
  color: inherit;
  transition: transform .3s ease;
}
.steam-quicklinks-viewmore:focus{
  outline: none;
}
.steam-quicklinks-viewmore.active{
  transform: rotate(180deg);
}
.steam-quicklinks-viewmore>i{
  color: inherit;
}

.mobile-navlinks .mobile-steamquick-link{
  padding: .5rem;
  margin-bottom: .5rem;
  font-size: 90%;
}

.mobile-nav-steam-quick-links{
  display: none;
}
.mobile-login-wrapper .login-avatar{
  width: 2rem;
  height: 2rem;
  margin-left:-1.25rem;
}

.home-container{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-submit{
  position: relative;
  overflow: hidden;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2rem;
  padding-bottom: 1.8rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1.5rem;
  border:none;
  color: white;
  background: #7683F9
}


.search-submit:active,.search-submit:focus{
  outline: none;
}
.fa-info-circle{
  margin-left: 0.5rem;
  font-size: inherit;
  color: var(--mute);
}
.fa-info-circle:hover{
  cursor: pointer;
}


.url-input{
  outline: none;
  padding:1.9rem;
  font-size: 1.5rem;
  width: 100%;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-sizing: border-box;
  border-radius: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border:none;
}

.home-container .url-input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}



/* clear input */
 .clear-input{
  visibility: hidden;
  padding: 1rem;
  outline: none;
  background: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  border:none;
}
.nav-with-search .clear-input{
  padding: 0;
}
.clear-input-background{
  padding: .5rem .7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
}
.clear-input-background:hover{
  background-color:rgb(243, 243, 243);
}
.clear-input .fa-times{
  color: rgb(87, 87, 87);
}

.clear-input:active,.clear-input:focus{
  outline: none;
}

.home-container .fa-search{
  font-size: 2rem;
}
.controls{
  min-width: 56%;
  border-radius: 1rem;
  border: 1px solid  rgba(124, 124, 124, 0.31);
  background: white;
}
.home-container .controls form{
  display: flex;
}
.nav-with-search .controls{
  position: relative;
}
.label{
  display:flex;
  justify-content:flex-start;
  width:56%;
  margin-bottom: 1rem;
}
/* input types supported modal styles */
#input-types-supported-modal .modal-header{
  padding-top: 1.5rem;
  padding-bottom:1.5rem;
}
#input-types-supported-modal .modal-dialog {
  max-width: 44rem;
}
.input-types-supported{
  list-style: none;
}
.input-types-supported li{
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 30% 70%;
}
.input-types-supported span{
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.input-types-supported .data{
  width: max-content;
  background-color: #F1F5F8;
}
/* User page styles */
.nav-with-search .url-input{
  font-size: 0.7rem;
  font-weight: 600;
  padding:0.5rem 1rem;
  border-radius: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* userpage nav */
.nav-with-search .fa-search{
  font-size: 1.5rem;
}

.nav-with-search .search-submit{
  display: flex;
  align-items: center;
  padding: 0.05rem 1rem;
  background: white;
  color: rgba(92, 102, 194, 1);
  border: none;
}
.collapse-controls .controls{
  width: 100%;
}
.nav-with-search .collapse-controls{
  min-width: 40%;
}
.nav-with-search{
  display: flex;
  justify-content: space-around;
}
/* secondary nav styles */
.sub-nav li{
  padding: 0;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.sub-nav li a{
  padding: 16px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: var(--primary);
}

/* title */
.section-title{
  font-size: .75rem;
  color: var(--primary);
  font-weight: 800;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

/* user page container */
.userpage-container{
  max-width: 60rem;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: minmax(55px,auto);
  padding-top: 1rem;
  gap: 1rem;
}

/* .name-level-wrapper styles */
.name-level-wrapper{
  grid-row: 1/3;
  grid-column: 1/13;
  background: var(--section-transperant-background);
  background: var(--section-background);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.mobile-profilepic-wrapper{
  grid-column: 1/-1;
  grid-row: 1/3;
  background: #e0e6ea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  display: none;
}
.name-flex-wrapper{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  padding : 1.5rem 1rem;
}
.image{
  position: relative;
  height: 100%;
  width: 20%;
}
.ripple{
  position: absolute;
  background: rgba(19, 17, 17, 0.103);
  transform: translate(-50%,-50%);
  pointer-events: none;
  border-radius: 50%;
  animation:animate 1s linear infinite;
}
@keyframes animate{
  0%{
    width: 0px;
    height: 0px;
    opacity: .3s;
  }
  100%{
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
.mobile-image{
  position: relative;
  height: 80%;
  width: 45%;
}
.avatar{
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.mobile-avatar{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30%;
}
.name-level{
  display: flex;
  align-items: center;
  grid-column: 2/13;
  margin-bottom: .5rem;
}
.name-level h5{
  margin-bottom: 0;
}
.more-btn{
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #4D51B6 3.91%, #7481F4 100%); 
  border-radius: .5rem;
  padding: .6rem 2rem;
  font-weight: bold;
  font-size: 12px;
  outline: none;
  color: #ffffff;
  border: none;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  transition: transform .3s ease-in-out;
}

.more-btn i{
  color: #ffffff;
}

.more-btn:active{
  background: linear-gradient(90deg, #4e51af 3.91%, #6772d6 100%); 
  transform: scale(.7);
}

.more-btn:focus{
  outline: none;
} 
.more-links-wrapper{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
.more-links-wrapper .more-links{
  display: none;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 90px;
  z-index: 1;
  width: 220px;
  font-size: .75rem;
  font-weight: 600;
  list-style: none;
  background: var(--section-background);
  margin-bottom: 0;
  border: 1px solid #dce1e4;
}
.more-links-wrapper .more-links .more-link{
  display: flex;
  padding: 1rem 1rem;
  color: grey;
  align-items: center;
}
.more-links-wrapper .more-links .more-link svg{
  width: 8%;
  height: 100%;
  margin-right: .3rem;
  filter: grayscale(100%);
}

.more-links-wrapper .more-links a{
  text-decoration: none;
}

.faceit-info .alert{
  font-size: .7rem;
  padding: .4rem .4rem;
  margin-bottom: 0;
  background: none;
  border: none;
}
.name-level a{
  color: black;
}

.icon-links{
  border-top: 1px solid #d6d9db;
  padding-top: .6rem;
}
.faceit-level{
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.icon-links img{
  height: 1.5rem;
  width: 1.5rem;
}
.friendPlayerLevel .friendPlayerLevelNum.number-color-black{
  color: black;
}

/* about wrapper styles */
.about-wrapper{
  grid-row: 3/4;
  grid-column: 1/-1;
}
.mobile-about-wrapper{
  display: none;
}

.about-wrapper .about a,.mobile-about-wrapper .about a{
  color: inherit;
  text-decoration: underline;
}
.about-wrapper .about{
  display: flex;
  flex-direction: column;
}
.about-wrapper .about a:active{
  color: #5f5f5f;
}
.about .about-lists{
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.about .about-lists li{
  display: flex;
  flex-direction: column;
}
/* reputation inside about section */
.reputation{
  font-size: .7rem;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  flex: 1;
  justify-content: space-evenly;
}
.reputation a{
  text-decoration: underline;
} 
.steamrep-steam{
  color: black;
}
.steamrep-rep{
  color: red;
}
/* collective style for all userpage containers */
.about-wrapper,.steam-ids-wrapper,.profile-privacy-wrapper,.steam-quick-links-wrapper,.faceit-info-wrapper,.mobile-about-wrapper,.friends-wrapper,.games-wrapper{
  background: var(--section-transperant-background);
  background: var(--section-background);
  border-radius: 1rem;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.about,.steam-ids,.profile-privacy,.steam-quick-links,.faceit-info,.friends,.games{
  padding: 1rem 1.5rem;
}
/* faceit-levels */
.faceit-info-wrapper{
  grid-column: 1/5;
  grid-row: 4/7;
}
.faceit-info{
  height: 100%;
  display: flex;
  flex-direction: column;
}

 .faceit-info .faceit-skill-levels{
   position: relative;
 }
 .faceit-info .faceit-skill-levels .faceit-skills-fullist{
   position: absolute;
   top: 0px;
   width: 100%;
   background: var(--section-background);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   padding: 1rem;
   display: none;
 }
.faceit-info .faceit-skill-levels .faceit-skill-level{
  display: flex;
  justify-content: space-between;
  background: #dde7ee;
  border-radius: 1rem;
  margin-bottom: .5rem;
}
.faceit-info .faceit-skill-levels .showmore-faceit-skills,.faceit-info .faceit-skill-levels .showless-faceit-skills{
  cursor: pointer;
  font-size: .7rem;
}
.faceit-info .faceit-skill-levels .faceit-skill-level img{
 border-top-right-radius: 1rem;
 border-bottom-right-radius: 1rem;
}

/* links */
.links svg{
  margin-right: .5rem;
}
.links a{
 text-decoration: none;
}

/* steam-ids wrapper */
.steam-ids-wrapper{
  grid-column: 5/13;
  grid-row: 4/7;
}
/* profile privacy wrapper */
.profile-privacy-wrapper{
  grid-column: 5/13;
  grid-row: 7/10;
}
/* steam-quick-link wrapper */
.steam-quick-links-wrapper{
  grid-column: 1/5;
  grid-row: 7/10;
}
/* .steam-quick-links a{
  color:inherit;
}
.steam-quick-links a:active{
  color: #3a3a3a;
} */

/* friends psuedo style */
.friends .private{
  text-transform: capitalize;
  color: red;
  font-size: .8rem;
  font-weight: 510;
}
.friends .no-friends-found{
  padding: 1rem .5rem;
  font-weight: 600;
  font-size: .9rem;
  color: #b6b3b3;
}
/* friends wrapper */
.friends-wrapper{
  grid-column: 1/-1;
}
.friends-wrapper .section-title,.games-wrapper .section-title{
  padding: 1rem 1.5rem;
  display: flex;
  margin-bottom: 0;
}
.friends-wrapper .friends .friends-controls .friends-controls-list,.games-controls-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    font-size: .75rem;
    font-weight: 600;
}
.friends-wrapper .friends .friends-controls .friends-controls-list li,.games-controls-list li{
  display: flex;
  align-items: center;
}
.select-sort select,
.select-show-entries select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  padding: .3rem;
  border-radius: 1rem;
  width: 7rem;
  cursor: pointer;
  background-color: white;
  font-size: .8rem;
}

.select-sort,.select-show-entries{
  margin-left: .7rem;
  position: relative;
  overflow: hidden;
}
.select-sort::after,.select-show-entries::after{
  content: "\25BC";
  position: absolute;
  color: var(--primary);
  top: 0;
  right: 0;
  pointer-events: none;
  padding: .3rem;
}

.loading-svg,.gamesloading-svg{
  margin: 0;
  margin-left: .8rem;
}
.friends-table-wrapper td{
  font-size: .8rem;
  cursor: pointer;
}
.friends-table-wrapper td a.name-label{
  color: #007bff;
  text-decoration: none;
}
.friends-table-wrapper td.friend-steam64,.friends-table-wrapper td.friend-since{
  padding-top: 2.5%;
}
.friends-table .no-border{
  border: none;
}
.friends-table .no-border-top{
  border-top: none;
}
.friends-table th,.friends-table td,.games-table th,.games-table td{
  padding-left:0;
}
.friends-table tbody:first-child td{
  border-top: none;
}

.friends-table-wrapper .friend-avatar-name{
  font-weight: 510;
  width: 50%;
}
.friends-table-wrapper .table .name-label.tabel-caption{
  font-size: .65rem;
}
.friend-avatar{
  height: 40px;
  border-radius: 50%;
  margin-right: .3rem;
}
.total-friends-capsule,.total-games-capsule{
  display: none;
  background:var(--primary);
  border-radius: 20%;
  padding-left: .3rem;
  padding-right: .3rem;
  color: white;
  margin-left: .5rem;
  font-size: .7rem;
  font-weight: 500;
  align-items: center;
}
.friends-hoverable{
  display: flex;
  visibility: hidden;
  opacity: 0;
  height:6rem;
  width:15rem;
  flex-direction:column;
  position: absolute;
  left: 14.8%;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  transition: visibility .1s ease-out, opacity .6s ease-in-out;
}
.friends-hoverable.active{
  visibility: visible;
  opacity: 1;
}
.friends-hoverable .upper-section{
  background:#EAF1F6;
 flex-basis:2.5rem;
 max-height:2.5rem;
 position:relative;
 display: flex;
 align-items: flex-end;
 justify-content: center;
}
.friends-hoverable .upper-section .name-span{
  margin-left: 5rem;
  font-size: .8rem;
  font-weight: 600;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.friends-hoverable .lower-section{
  background:#DFE8EF;
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
}
.friends-hoverable .lower-section .more-btn{
  font-size: .7rem;
  padding: .5rem 2rem;
  margin-left: 4rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.friends-hoverable .avatar{
  position:absolute;
  width:4rem;
  height:4rem;
  top:18%;
  left:3%;
  border-radius:.5rem;
}
.friends-search .url-input,.friends-mobile-search .url-input{
  padding: .5rem;
  font-size: .7rem;
  width: 100%;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.friends-mobile-search .url-input{
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.friends-mobile-search-wrapper{
  display: none;
}
.friends-mobile-search{
  display: flex;
  margin-bottom: .5rem;
}
.friends-search .search-submit,.friends-mobile-search .search-submit{
  padding: .5rem;
  background: white;
  color: var(--primary);
  pointer-events: none;
}
.friends-mobile-search .search-submit{
  border-radius: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.friends-search .search-submit i,.friends-mobile-search .search-submit i{
  font-size: .8rem;
}
.friends-private-alert h4{
  text-transform: capitalize;
  font-size: 1rem;
}
.friends-private-alert p{
  font-size: .8rem;
}
.friends-private-alert ul{
  font-size: .8rem;
  list-style: none;
  line-height: 1.6rem;
}

/* pagination buttons */
.pagination{
  font-size: .75rem;
  cursor: pointer;
}
.pagination .page-link{
  color: black;
  user-select: none;
  transition: all .3s ease;
}

.page-link.active{
  background:var(--primary);
  color:white;
}
.page-link.disabled{
  cursor: not-allowed;
  filter: grayscale(100%);
}
.page-link.disabled:hover{
  background-color:white;
}
.page-link.active:hover{
  color:white;
}
/* games wrapper */
.games-wrapper{
  grid-column: 1/-1;
}
.games-wrapper .section-title{
  justify-content: space-between;
}
.games-wrapper .section-title span{
  display: flex;
  align-items: center;
}
.games-wrapper .games-controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.games .private{
  text-transform: capitalize;
  color: red;
  font-size: .8rem;
  font-weight: 510;
}
.game-icon{
  margin-right: .5rem;
  border-radius: .5rem;
  width: 184px;
  height: 69px;
}
.games a:hover{
  text-decoration: none;
  color: inherit;
}

/* label styles */
.name-label{
  font-size: .75rem;
  font-weight: 600;
  color: #636363;
}
.data-label{
  font-size: .75rem;
  font-weight: normal;
}
.steam-ids .data-label,.about .data-label,.profile-privacy .data-label{
  font-weight: 500;
}
.steam-ids .data{
  display: inline-block;
  width: 80%;
}
.steam-ids .data-label{
  display: flex;
  align-items: center;
}
.steam-ids td{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.profile-privacy .name-label{
  width: 40%;
}
/* green for all td in profile privacy */
.profile-privacy .data{
  font-weight: 600;
  color: #1b7709;
}
.profile-background{
  background-size: 100% 100%;
}

.about .table td,.steam-ids .table td,.profile-privacy .table td,.steam-quick-links .table td{
  border-top: none;
  padding-left: 0;
}

/* psuedo styles private,offline,banned,sincebanned,mute */
.data.private{
  text-transform: capitalize;
  font-weight: 600;
  color: #d30000;
}
.data.offline{
  font-weight: 600;
  color: #9c9c9c;
}
.data.online,.data.public{
  font-weight: 600;
  color: #1b7709;
}
.data.banned{
  font-weight: 700;
  color: #d30000;
}
.since-ban{
  font-weight: 600;
  color: #d30000;
  font-size: .6rem;
  margin-left: .2rem;
}
.since-ban .fa-info-circle{
  font-size: .6rem;
}
.since-ban .info-icon{
  cursor: pointer;
}

.data.mute{
  font-style: italic;
  color: #9c9c9c;
  font-weight: 600;
}


/* My profile styles */
.view-more{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.login{
  position: relative;
}
.login a{
  color:black;
  text-decoration: none;
}
.login-avatar{
  width: 3rem;
  border-radius: 15%;
}
.fa-chevron-down{
  color: white;
}
.view-more-links{
  display: none;
  margin:0;
  width: max-content;
  position: absolute;
  transform: translateY(20%);
  left:-40%;
  list-style: none;
  background-color: white;
  cursor: pointer;
}

.view-more-link{
  padding:1rem 2rem;
  font-weight: 600;
  font-size: 0.7rem;
  transition: all 0.2s ease-in-out;
}

.view-more-links.active{
  transform: translateY(20%);
  visibility: visible; /* shows sub-menu */
}



/* copy */
.copy{
  position: relative;
  display: inline-block;
  overflow: hidden;
  color:black;
  margin-left: 1rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}


.copy-animation{
  transform:scale(1.5,1.5);
}


/* modal styles */
.modal-header{
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: none;
}
.modal-footer{
  border-top: none;
}
.modal-body{
  font-weight: 500;
  font-size: 0.9rem;
}
.send-message-close{
text-transform: uppercase;
outline: none;
border-radius: 20px;
padding: 10px 15px;
border: none;
outline: none;
color: black;
font-weight: 600;
margin-bottom: 25px;
margin-right: 5px;
font-size: 12px;
}
.modal-body{
  overflow: overlay;
  padding-left: 2rem;
  padding-right: 2rem;
}
.dont-show-again{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dont-show-again-checkbox{
  -webkit-appearance: checkbox;
}
.dont-show-again label{
  font-size: 10px;
  margin-top: 10px;
 margin-left: 10px;
 font-weight: bold;
}

/* media queries */
@media(max-width:360px){
  .logo-text{
    display: none;
  }
  .more-btn{
    font-size: 10px;
    padding: .5rem 1.5rem;
  }
}
@media (max-width:1200px){
  .collapse-controls{
    width: 45%;
  }
}
@media(max-width:1079px){ 
  .collapse-controls{
    width: 50%;
  }
}



@media (max-width:1404px){
  .home-container h5{
    font-size: 0.8rem;
  }
}


@media(max-width:1522px){
    .nav-with-search .controls .url-input{
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .controls{
      width: 50%;
    }
}

@media(max-width:1440px){
  .controls{
    width: 60%;
  }
  .label{
    width: 60%;
  }
}
@media(max-width:1024px){
  .controls{
    width:80%;
  }
  .nav-with-search .collapse-controls{
    width: 50%;
  }
  .label{
    width: 80%;
  }
}


@media(max-width:991px){
  body{
    overflow-x: hidden;
  }
  .mobile-nav{
    overflow-y: scroll;
  }
 .steam-quick-links-wrapper{
  display: none;
 }
 .about-wrapper{
  grid-column: 1/-1;
  grid-row: 3/4;
}
.faceit-info-wrapper {
  grid-column: 1/-1;
  grid-row: 4/7;
}
.steam-ids-wrapper {
  grid-column: 1/13;
  grid-row: 7/9;
}
.profile-privacy-wrapper {
  grid-column: 1/13;
  grid-row: 9/12;
}
.userpage-container{
  padding: 2rem 4rem;
}
.home-container .controls{
  width: 90%;
}
.home-container .label{
  width: 90%;
}
.nav-with-search .collapse-controls{
  width: 90%;
}
.more-links-wrapper .more-links{
  width: 200px;
}
}

@media (max-width:850px){
  .more-links-wrapper .more-links{
    width: 180px;
    font-size: .6rem;
  }
}



@media (max-width:768px){
  .friends .friends-search input{
    display: none;
  }
  .friends-table-wrapper td.friend-steam64, .friends-table-wrapper td.friend-since{
    padding-top: 12px;
  }
  .friends .friends-search .search-submit{
    border-radius: 1rem;
    pointer-events: all;
    background: transparent;
  }
  .table thead th.name-label{
    font-size: .5rem;
  }
 .select-sort select,.select-show-entries select{
    width: 5rem;
    font-size: .5rem;
  }
  .friends-controls-list .name-label,.games-controls-list .name-label{
    font-size: .5rem;
  }
  .select-sort::after, .select-show-entries::after{
    top: -2px;
  }
  .friends-search .search-submit i,.friends-mobile-search .search-submit i{
    font-size: .5rem;
  }
  .friends-mobile-search .url-input{
    font-size: .5rem;
  }
  .friend-avatar{
    height: 20px;
  }
  .friend-avatar-name{
    white-space: nowrap;
  }
  .friend-avatar-name a{
    display: inline-block;
    white-space: nowrap;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .games .game-icon{
    width: 84px;
    height: 29px;
  }
  .game-icon-name a{
    display: inline-block;
    white-space: nowrap;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .friends-wrapper{
    overflow: scroll;
  }
  .pagination{
    font-size: .5rem;
  }
  .fa-info-circle{
    font-size: 0.5rem;
  }
  .mobile-navlinks li {
    padding: .75rem .75rem;
  }
  .dekstop-h5{
    display:none;
  }
  .mobile-h5{
    display: block;
    word-spacing: 0.1rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
  .home-container{
    height: 50vh;
  }
  .controls{
    width: 80%;
  }
  .label{
    margin-bottom: 0;
    width: 80%;
  }
  .url-input{
    padding:1rem;
    font-size: 0.8rem;
  }
  .search-submit{
    padding:0.54rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .clear-input{
    font-size: .7rem;
    padding:0.5rem;
  }
  .clear-input-background{
    padding:0.3rem;
  }
  .home-container .fa-search{
    font-size: 1rem;
  }
.nav-with-search .url-input{
  font-size: .5rem;
}
.nav-with-search .fa-search {
  font-size: 1rem;
}
.nav-with-search .search-submit{
  top:15%;
}
.name-level{
  width: 100%;
}
.name-level h5{
  font-size: 1rem;
}
.image{
  width: 30%;
}

.copy:active{
  background-color:rgb(170, 170, 170);
}
.clear-input-background:hover{
  background: none;
}
.clear-input-background:active{
  background-color: rgb(243, 243, 243);
}
.navbar-light .navbar-toggler:active{
  color: white;
}
.more-links-wrapper .more-links{
  top: 70px;
}
/* grid rearrangement */
.name-level-wrapper{
  grid-row: 3/4;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.about-wrapper{
  grid-row: 4/5;
}
.steam-ids-wrapper{
  grid-row: 7/10;
}
.faceit-info-wrapper{
  grid-row: 5/7;
}
.profile-privacy-wrapper{
  grid-row: 10/13;
}
.image{
  display: none;
}
.name-flex-wrapper{
  padding: 1.5rem 1.5rem;
}
.mobile-profilepic-wrapper{
  display: flex;
}
.mobile-image{
  width: 25%;
}
} 


@media (max-width:645px){
  .tooltip{
    font-size: .5rem;
  }
  .input-types-supported li{
    font-size: 0.8rem;
  }
  #input-types-supported-modal .section-title{
    font-size: 0.8rem;
  }
  .about-wrapper{
    display: none;
  }
  .mobile-about-wrapper{
    display: block;
    grid-column: 1/-1;
  }
}
@media(max-width:578px){
  .input-types-supported li{
    font-size: 0.6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #input-types-supported-modal .section-title{
    font-size: 0.6rem;
  }

}
@media(max-width:550px){
  .userpage-container{
    padding: 3rem 2rem;
  }
  .image{
    width: 60%;
  }
}
@media(max-width:730px){
  .mobile-nav-avatar{
    left:25%
  }
}
@media(max-width:590px){
  .mobile-nav-avatar{
    left:20%
  }
  .friends-table .data-label{
    font-size: .6rem;
  }
  .friends-table-wrapper .table .name-label.tabel-caption{
    font-size: .45rem;
  }
}
@media(max-width:490px){
  .mobile-nav-avatar{
    left:15%
  }
  .more-links-wrapper .more-links{
    font-size: .5rem;
    width: 140px;
  }
}
@media (max-width:450px){
  .nav-with-search .collapse-controls{
    width: 100%;
  }
.navbar-light .navbar-brand{
    font-size: 1.5rem;
  }
  .fa-steam-symbol{
    font-size: 1.5rem;
  }
  .label h5{
    font-size: 0.6rem;
  }
  .name-label{
    font-size: .75rem;
  }
  .data-label{
    font-size: .75rem;
  }
  .alert{
    font-size: .7rem;
  }
  .mobile-navlinks li{
    font-size: .75rem;
  }
  .mobile-image{
    width: 45%;
  }
}
@media(max-width:430px){
  .userpage-container{
    padding: 2rem 1rem;
  }
  .more-links-wrapper .more-links .more-link svg{
    width: 20%;
  }
  .friends-controls-list{
    justify-content: space-between;
  }
 .friends-wrapper .friends .friends-controls .friends-controls-list li .select-sort select, .friends-wrapper .friends .friends-controls .friends-controls-list li .select-show-entries select{
  width: 3rem;
  }
  .friends-wrapper .friends .friends-controls .friends-controls-list li .select-sort select{
    width: 4rem;
  }
  .pagination{
    transform: scale(.9);
  }
}
@media (max-width:360px){
  .name-label{
    font-size: .6rem;
  }
  .more-links-wrapper .more-links{
    font-size: .5rem;
    width: 130px;
    left: -20px;
  }
  .mobile-navlinks li{
    font-size: .6rem;
  }
  .alert{
    font-size: .5rem;
  }
  .data-label{
    font-size: .6rem;
  }
  .friends-controls-list select,.games-controls-list select{
    margin-left: .2rem;
  }
}


/* active style substitutes for non-hoverable devices */
.mobile-navlinks li:active:not(.signin-btn):not(.mobile-steamquick-link){
  background: #00000012;
}
.navbar-light .navbar-toggler.mobile-navbar-toggler:active > div{
  background-color: white;
}
.name-level a:active{
  color: #007bff;
}
.more-btn:active{
  color:white;
}
.more-btn:active > i{
  color: white;
}
.more-links-wrapper .more-links .more-link:active{
  color:#555555;
}
.more-links-wrapper .more-links .more-link:active > svg{
  filter: grayscale(0%);
}
.friends-table-wrapper td a.name-label:active{
  color: #0056b3;
}

/* all hover styles works only in hoverable devices */
@media(hover: hover) and (pointer: fine){
  .friends-table-wrapper td a.name-label:hover{
    color: #0056b3;
  }
  .more-btn:hover{
    background: linear-gradient(90deg, #4e51af 3.91%, #6772d6 100%); 
  }
  .more-links-wrapper .more-links .more-link:hover{
    color:#555555;
  }
  .more-links-wrapper .more-links .more-link:hover > svg{
    filter: grayscale(0%);
  }
  .steam-quick-links a:hover{
    text-decoration: none;
  }
  .friends-table tr td a:hover{
    text-decoration: none;
  }
  .about-wrapper .about a:hover{
    color: #5f5f5f;
  }
  .fa-steam-symbol:hover{
    cursor: pointer;
  }
  .view-more-link:hover{
    color:white;
    background-color: #5C66C2; 
  }
  .view-more-link:hover a{
    color:white;
  }
  .name-level a:hover{
    color: #007bff;
  }
  .nav-with-search .search-submit:hover{
    color:rgba(15, 25, 119, 0.795)
  }
  .home-container .search-submit:hover{
    background: rgba(45, 66, 255, 0.56);
    outline: none;
  }
  .mobile-navlinks .mobile-steamquick-link:hover{
    color: white;
  }
  .mobile-navlinks li:hover:not(.signin-btn):not(.mobile-steamquick-link){
    color: white;
    background: #00000012;
  }
  .mobile-navlinks .myprofile-btn:hover > .mobile-nav-avatar{
    opacity: 1;
  }
  .navbar-light .navbar-toggler:hover{
    color: white;
  }
  .navbar-light .navbar-toggler.mobile-navbar-toggler:hover > div{
    background-color: white;
  }
}