/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color:black;
  transition: background-color 5000s ease-in-out 0s;
}

/* CSS Variables */
:root{
  --primary:#404BB8;
  --section-background:#EAF1F6;
  /* --section-transperant-background:#eaf1f6e3; */
  --mute : #3a3a3aa2;
  --green:#007705;
  --red: red;
  --background:#F1F5F8;
  --valve-employee : #a50f79;
}

/* tooltip and defualt styles */
.logo{
  width: 3rem;
  height: 1.4rem;
}

.tooltip{
  font-size: .6rem;
}
i{
  pointer-events: none;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
}
/* home page styles */
.home-container .dekstop-h5{
  font-size: 1rem;
  word-spacing: 0.4rem;
}
.mobile-h5{
  display: none;
}
.fa-steam-symbol{
  font-size: 2rem;
  margin-right: 0.5rem;
  color: white;
}
.fa-steam-symbol:hover{
  cursor: pointer;
}

.navbar-light .navbar-brand{
  font-family: 'Rockwell',Montserrat;
  font-size:2rem;
  color: white;
}
.navbar-light .navbar-brand:hover{
  color: white;
}
.main-nav{
  background: linear-gradient(90deg, #161730 0%, #7683F9 100%);
}
.navbar-collapse{
  flex-grow: 0;
}
.navbar-light .navbar-toggler{
  color: white;
  border:none;
  outline: none;
}
.mobile-login-wrapper ul{
  list-style: none;
}

.mobile-login-wrapper li{
  color:white;
  cursor: pointer;
  padding: 1rem 2rem;
  font-weight: 800;
  font-size: 0.7rem;
  transition: all 0.2s ease-in-out;
}
.mobile-login-wrapper .level-one-li{
  border-bottom: 1px solid white;
}
.mobile-login-wrapper a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* steam quick links in nav styles */
.steam-quick-links-nav{
  display: none;
}
.mobile-login-wrapper .login-avatar{
  width: 2rem;
  height: 2rem;
  margin-left:-1.25rem;
}
.home-container{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-submit{
  position: relative;
  overflow: hidden;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2rem;
  padding-bottom: 1.8rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1.5rem;
  border:none;
  color: white;
  background: #7683F9
}

.search-submit:hover{
  background: rgba(45, 66, 255, 0.56);
  outline: none;
}
.search-submit:active,.search-submit:focus{
  outline: none;
}
.fa-info-circle{
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: var(--mute);
}
.fa-info-circle:hover{
  cursor: pointer;
}


.url-input{
  outline: none;
  padding:1.9rem;
  font-size: 1.5rem;
  width: 100%;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-sizing: border-box;
  border-radius: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border:none;
}

.home-container .url-input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}



/* clear input */
 .clear-input{
  visibility: hidden;
  padding: 1rem;
  outline: none;
  background: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  border:none;
}
.nav-with-search .clear-input{
  padding: 0;
}
.clear-input-background{
  padding: .5rem .7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
}
.clear-input-background:hover{
  background-color:rgb(243, 243, 243);
}
.clear-input .fa-times{
  color: rgb(87, 87, 87);
}

.clear-input:active,.clear-input:focus{
  outline: none;
}

.home-container .fa-search{
  font-size: 2rem;
}
.controls{
  min-width: 50%;
  border-radius: 1rem;
  border: 1px solid  rgba(124, 124, 124, 0.31);
  background: white;
}
.home-container .controls form{
  display: flex;
}
.nav-with-search .controls{
  position: relative;
}
.label{
  display:flex;
  justify-content:flex-start;
  width:50%;
  margin-bottom: 1rem;
}
/* input types supported modal styles */
#input-types-supported-modal .modal-header{
  padding-top: 1.5rem;
  padding-bottom:1.5rem;
}
#input-types-supported-modal .modal-dialog {
  max-width: 44rem;
}
.input-types-supported{
  list-style: none;
}
.input-types-supported li{
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 30% 70%;
}
.input-types-supported span{
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.input-types-supported .data{
  width: max-content;
  background-color: #F1F5F8;
}
/* User page styles */
.nav-with-search .url-input{
  font-size: 0.7rem;
  font-weight: 600;
  padding:0.5rem 1rem;
  border-radius: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.nav-with-search .fa-search{
  font-size: 1.5rem;
}
.nav-with-search .search-submit:hover{
  color:rgba(15, 25, 119, 0.795)
}
.nav-with-search .search-submit{
  display: flex;
  align-items: center;
  padding: 0.05rem 1rem;
  background: white;
  color: rgba(92, 102, 194, 1);
  border: none;
}
.nav-with-search .controls{
  min-width: 30%;
}
.nav-with-search{
  display: flex;
  justify-content: space-around;
}

.friend-count,.games-owned-count{
  text-align: center;
  min-width: 	3rem;
  background: rgba(92, 102, 194, 1);
  color : white;
  border: 1px solid rgba(92, 102, 194, 1);
  padding: 0.1rem;
  font-size: 0.75rem;
  box-sizing: border-box;
  border-radius: 1em;
  margin-left:1rem
}
.count{
  display: flex;
  align-items: baseline;
}
/* title */
.section-title{
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 1.1rem;
  color: var(--primary);
}

/* user page container */
.userpage-container{
 max-width: 1000px;
 height: max-content;
 padding-top: 2rem;
 display:grid;
 grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 grid-auto-rows:1fr; 
 gap:1rem;
/* background: linear-gradient(0.15deg, #F1F5F8 0.17%, rgba(255, 255, 255, 0.72) 99.86%); */
}


.profile-background-wrapper{
  margin-bottom: -1rem;
  grid-column: 1/13;
  grid-row: 1/5;
}
/* profile background image */
.profile-background{
  background-size: 100% 100%;
}
.name-level-wrapper{
  position: relative;
  grid-column: 1/13;
  grid-row:1/3;
  background-color: var(--section-background);
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(3,1fr);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.avatar{
  grid-column: 1/2;
  grid-row: 1/4;
  height: 100%;
  width: 12rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
/* name and level */
.name-level{
  margin-left: 1rem;
  grid-column: 2/13;
  grid-row: 1/2;
  padding: 1rem;
  padding-left: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name-level a{
  text-decoration: none;
  color: black;
}
.name-level a:hover{
  color: #007bff;
  text-decoration: underline;
}
.name-level-wrapper .fa-link{
  font-size: 1.1rem;
  color: #007bff;
}

.realname-profileurl{
  margin-left: 2.7rem;
  grid-column: 2/9;
  grid-row: 2/3;
  display: flex;
  align-items: center;
}
.realname-profileurl p{
  padding: 0;
  margin: 0;
}
.steam-rep{
  grid-column: 2/9;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  margin-left: 1rem;
}
.steam-rep a{
  text-decoration: none;
  color:black;
}
.steam-rep img{
  height: 1.5rem;
  width: 1.5rem;
}
.reputation-wrapper{
  padding: 1.5rem 2rem;
  width: 100%;
  padding-top: 0;
}
.reputation{
  display: flex;
  flex-direction: column;
}
.reputation-wrapper h5 button{
  background: none;
  outline: none;
  border: none;
}
.reputation .data{
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.steamrep-steam{
  color:black;
}
.steamrep-rep{
  color:red;
}
.rep-status{
  cursor: pointer;
}
.rep-status i{
  font-size: .8rem;
}

/* player about section */
.about-wrapper{
  grid-column: 1/5;
  grid-row: 3/8;
  background-color: var(--section-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.about{
  padding: 1.5rem 2rem;
  width: 100%;
  padding-bottom: .5rem;
}


.about .name-label{
  padding-bottom: .9rem;
  font-size: .8rem;
  font-weight: 500;
}
.about .data-label{
  font-size: .75rem;
  font-weight: 500;
}

/* nav bar */
.nav-wrapper{
  grid-column: 5/13;
  grid-row: 3/4;
}
.nav{
  background-color: var(--section-background);
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.nav .nav-links{
  width: 100%;
  padding: 0;
  margin:0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.nav .nav-link.active{
   background-color: #F1F5F8;
   border-top: 3px solid #5C66C2;
}
.nav-link{
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: center;
}

/* wrapper around steam ids and profile privacy */
.wrapper{
  grid-column: 5/13;
  grid-row: 4/12;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  gap:0.8rem;
  grid-template-areas: 
  "steamid"
  "profile-privacy";
}

/* player steam ids section */


.steam-ids .table .data-label{
  padding: .4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.steam-ids .name-label{
  padding-left: 0;
}
.table td{
  border-top: none;
}

.steam-ids-wrapper{
  grid-area: steamid;
}

.steam-ids{
  padding: 1.5rem 2rem;
  width: 100%;
  height: 100%;
  background-color:  var(--section-background);
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.steam-ids .section-title{
  margin-bottom: 3rem;
}


/* player profile privacy section */
.profile-privacy .name-label,.about .name-label{
  padding-left: 0;
}
.profile-privacy .name-label{
  width: 40%;
}
.profile-privacy-wrapper{
  grid-area: profile-privacy;
}
.profile-privacy{
  padding: 1.5rem 2rem;
  width: 100%;
  height: 100%;
  background-color:  var(--section-background);
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-privacy .section-title{
  margin-bottom: 3rem;
}

/* steam quick link section */
.steam-quick-links-wrapper{
  grid-column: 1/5;
  grid-row: 8/12;
}

.steam-quick-links{
  padding: 1.5rem 2rem;
  width: 100%;
  height: 100%;
  background-color:  var(--section-background);
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.steam-quick-links ul{
  font-size: .75rem;
  list-style: none;
}
.steam-quick-links li{
  margin-bottom: 1rem;
}
.steam-quick-links .section-title{
  margin-bottom: 3rem;
}

/* label styles */
.custom-URL .data-label{
  overflow-wrap: anywhere;
}

.steam-ids .name-label,.profile-privacy .name-label{
  font-size: .8rem;
  font-weight: 500;
}

.steam-ids .data-label,.profile-privacy .data-label{
  font-size: .75rem;
  font-weight: 500;
}
.profile-overview-customURL .data{
  display: inline-block;
  margin-bottom: 0;
  width:min-content;
  height: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;  
}

/* copy button */
.copy{
  position: relative;
  display: inline-block;
  overflow: hidden;
  color:black;
  margin-left: 1rem;
  padding: .5rem .7rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.copy:hover{
  background:rgb(204, 204, 204);
}

.copy-animation{
  transform:scale(1.5,1.5);
}

/* psuedo styles(online,offile,private etc) */
.data.mute a{
  color: var(--mute);
  text-decoration: none;
}     
/* account ownership styles */
.data.mute a:hover{
  text-decoration: underline;
}

 .isonline .data.offline{
  color: var(--mute);
}
.isonline .data.online{
  color: var(--green)
}

.data-label .private{
  font-weight: bold;
  color: var(--red);
}

.data-label .public{
  font-weight: bold;
  color: var(--green);
}
.data-label .friends-only{
  font-weight: 600;
  color:orange;
}
.data-label .ban-none,.green{
  font-weight: bold;
  color: var(--green);
}
.data-label .ban-true{
  font-weight: bold;
  color: var(--red);
}
.data-label .since-ban{
  color: var(--red);
  font-weight: bold;
  font-size: 0.7rem;
  margin-left: 0.5rem;
}
.friends-with-you{
  font-weight: 700;
  color: var(--green);
}
.not-friends-with-you{
  font-weight: 700;
  color: orange;
}
.data-label .mute{
  font-weight: bold;
  color: var(--mute);
}
.data-label .warning{
  font-weight: bold;
  color:orange;
}

.friendPlayerLevel .friendPlayerLevelNum.number-color-black{
  color:black
}
/* number of days since ban info icon */
.info-icon{
  cursor: pointer;
}
/* login mini avatar styles */
.view-more{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.login{
  position: relative;
}
.login a{
  color:black;
  text-decoration: none;
}
.login-avatar{
  width: 3rem;
  border-radius: 15%;
}
.fa-chevron-down{
  color: white;
}
.view-more-links{
  display: none;
  margin:0;
  width: max-content;
  position: absolute;
  transform: translateY(20%);
  left:-40%;
  list-style: none;
  background-color: white;
  cursor: pointer;
  border-radius: 5%;
}

.view-more-link{
  border-radius: 5%;
  padding:1rem 2rem;
  font-weight: 600;
  font-size: 0.7rem;
  transition: all 0.2s ease-in-out;
}

.view-more-link:hover{
  color:white;
  background-color: #5C66C2; 
}
.view-more-link:hover a{
  color:white;
}
.view-more-links.active{
  transform: translateY(20%);
  visibility: visible; /* shows sub-menu */
}


/* Add friend and send a message */
.add-message{
grid-row: 5/7;
grid-column: 9/13;
position: relative;
justify-items: center;
display: flex;
align-items: center;
justify-content: center;
}
.add-message a{
  text-decoration: none;
  color: white;
}
.add-friend-btn,.send-message-btn,.send-message-ok{
padding: 10px 15px;
border: none;
outline: none;
color: white;
font-weight: 600;
background-color: #5C66C2;
border-radius: 20px;
margin-bottom: 25px;
margin-right: 15px;
font-size: 12px;
}
/* modal styles */
.modal-header{
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: none;
}
.modal-footer{
  border-top: none;
}
.modal-body{
  font-weight: 500;
  font-size: 0.9rem;
}
.send-message-close{
text-transform: uppercase;
outline: none;
border-radius: 20px;
padding: 10px 15px;
border: none;
outline: none;
color: black;
font-weight: 600;
margin-bottom: 25px;
margin-right: 5px;
font-size: 12px;
}
.modal-body{
  overflow: overlay;
  padding-left: 2rem;
  padding-right: 2rem;
}
.dont-show-again{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dont-show-again-checkbox{
  -webkit-appearance: checkbox;
}
.dont-show-again label{
  font-size: 10px;
  margin-top: 10px;
 margin-left: 10px;
 font-weight: bold;
}
/* media queries */
@media (max-width:1404px){
  .home-container h5{
    font-size: 0.8rem;
  }
}


@media(max-width:1522px){
    .about div{
      margin-bottom: 2rem;
      display:grid;
      grid-template-columns: 1fr 1fr;
    }
    .nav-with-search .controls .url-input{
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .controls{
      width: 50%;
    }
}

@media(max-width:1440px){
  .controls{
    width: 60%;
  }
  .label{
    width: 60%;
  }
}
@media(max-width:1024px){
  .controls{
    width:80%;
  }
  .nav-with-search .controls{
    width: 50%;
  }
  .label{
    width: 80%;
  }
}

@media(max-width:1187px){
  .profile-overview-customURL .data{
    height: 1rem;
  }
  .steam-ids .data-label, .profile-privacy .data-label,.about .data-label{
    font-size: .75rem;
    font-weight: 500;
}
}

@media(max-width:1000px){
  .add-message{
    display: none;
  }
  .nav-wrapper{
    grid-column: 1/13;
    margin-bottom: -.5rem;
  }
  .about-wrapper {
    grid-column: 1/5;
    grid-row: 4/9;
}
.steam-quick-links-wrapper{
  grid-column: 1/5;
  grid-row: 9/12;
}
.steam-quick-links .section-title{
  margin-bottom: 1.5rem;
}
.steam-quick-links li{
  margin-bottom: .7rem;
}
.steam-ids .data-label, .profile-privacy .data-label,.about .data-label{
    font-size: .6rem;
    font-weight: 500;
 }
 .reputation-wrapper .data{
  font-size: .6rem;
  font-weight: 500;
 }
 .steam-ids .name-label,.profile-privacy .name-label,.about .name-label{
  font-size: .6rem;
  font-weight: 500;
}
}
@media(max-width:930px){
  .about .name-label{
    width: 40%;
    padding-bottom: .75rem;
  }
  .steam-quick-links-wrapper{
    display: none;
  }
  .add-message {
    grid-row: 4/5;
  }
  .profile-overview-customURL .data{
    height: 1.1rem;
  }
  .steam-ids .data-label, .profile-privacy .data-label,.about .data-label{
    font-size: .87rem;
    font-weight: 500;
 }
 .steam-ids .name-label,.profile-privacy .name-label,.about .name-label{
  font-size: .87rem;
  font-weight: 500;
}
.reputation-wrapper .data{
  font-size: .87rem;
  font-weight: 500;
 }
.userpage-container{
  height: max-content;
  max-width: 1700px;
  padding: 2rem 4rem;
}
.about div{
  margin-bottom: 1rem;
}


.about-wrapper {
  grid-column: 1/13;
  margin-bottom: 0;
}

.wrapper {
  grid-column: 1/13;
  grid-row: 9/17;
  grid-template-areas:
      "steamid"
      "profile-privacy";
}

.name-level-wrapper{
grid-column: 1/13;
}
.avatar{
  width: 11rem;
}
}

@media(max-width:1235px){
  .add-friend-btn,.send-message-btn{
    font-size: .6rem;
  }
  .nav-with-search .controls{
    width: 50%;
  }
}
@media (max-width:991px){
  .home-container .controls{
    width: 90%;
  }
  .home-container .label{
    width: 90%;
  }
  .nav-with-search .controls{
    width: 90%;
  }
}


@media (max-width:768px){
  .data-label .since-ban{
    font-size: 0.4rem;
  }
  .fa-info-circle{
    font-size: 0.5rem;
  }

  .dekstop-h5{
    display:none;
  }
  .mobile-h5{
    display: block;
    word-spacing: 0.1rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
  .profile-overview-customURL .data{
    height: .8rem;
  }
  .home-container{
    height: 50vh;
  }
  .controls{
    width: 80%;
  }
  .label{
    margin-bottom: 0;
    width: 80%;
  }
  .url-input{
    padding:1rem;
    font-size: 0.8rem;
  }
  .search-submit{
    padding:0.54rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .clear-input{
    font-size: .7rem;
    padding:0.5rem;
  }
  .clear-input-background{
    padding:0.3rem;
  }
  .home-container .fa-search{
    font-size: 1rem;
  }
  .avatar {
    width: 11rem;
    left: 0%;
    top: 0%;
}
.name-level h4{
  font-size: 1rem;
}
.realname-profileurl p{
  font-size: .87rem;
}
.steam-ids .data-label, .profile-privacy .data-label,.about .data-label{
  font-size: .6rem;
  font-weight: 500;
}
.steam-ids .name-label,.profile-privacy .name-label,.about .name-label{
font-size: .6rem;
font-weight: 500;
}
.reputation-wrapper{
  margin-top: 1rem;
}
.reputation-wrapper .data{
  font-size: .6rem;
  font-weight: 500;
 }
.nav-with-search .url-input{
  font-size: .5rem;
}
.nav-with-search .fa-search {
  font-size: 1rem;
}
.nav-with-search .search-submit{
  top:15%;
}
.userpage-container{
  max-width: 2000px;
  padding: 2rem 1rem;
}
.name-level{
  width: 100%;
}
.name-level h4{
  font-size: .75rem;
}
.name-level-wrapper .fa-link{
  font-size: .75rem;
}
.realname-profileurl p{
  font-size: .68rem;
}
.copy:hover{
  background: none;
}
.copy:active{
  background-color:rgb(170, 170, 170);
}
.clear-input-background:hover{
  background: none;
}
.clear-input-background:active{
  background-color: rgb(243, 243, 243);
}
} 


@media (max-width:645px){
  .tooltip{
    font-size: .5rem;
  }
  .input-types-supported li{
    font-size: 0.8rem;
  }
  #input-types-supported-modal .section-title{
    font-size: 0.8rem;
  }
}
@media(max-width:578px){
  .input-types-supported li{
    font-size: 0.6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #input-types-supported-modal .section-title{
    font-size: 0.6rem;
  }

}
@media(max-width:530px){
  .avatar{
    width:8rem;
  }
}

@media(max-width:473px){
  .profile-overview-custom-full-URL .data{
    width: 100px;
    height: 13px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width:450px){
  .nav-with-search .controls{
    width: 100%;
  }
.navbar-light .navbar-brand{
    font-size: 1.5rem;
  }
  .fa-steam-symbol{
    font-size: 1.5rem;
  }
  .label h5{
    font-size: 0.6rem;
  }

}
@media (max-width:360px){
  .steam-ids .name-label{
    font-size: .6rem;
  }
  .steam-ids .data-label{
    font-size: .56rem;
  }
  .section-title{
    font-size: 0.6rem;
  }
  .copy{
    margin-left: 0.5rem;
  }
  .name-level{
    margin-left: .6rem;
  }
  .steam-rep{
    margin-left: .6rem;
  }
  .realname-profileurl{
    margin-left: .6rem;
  }
}
